@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* layout + general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 193, 248);
}

.container {
  width: 90%;
  margin: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* buttons */

.button {
  margin: 1em;
  color: #dfdfdf;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(99, 13, 96);
  padding: 0.4em;
}

.button:hover {
  cursor: pointer;
  background-color: orchid;
}

/* forms */

fieldset {
  border: none;
}

.form-control {
  padding: 1em;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px darkorchid solid;
  display: block;
  width: 100%;
  padding: 0;
  font-size: 18px;
  text-align: center;
  color: black;
}

.form-control input:focus{
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control textarea {
  background-color: rgb(250, 193, 248);
}

.error {
  margin: 0;
  font-size: 1em;
}
