@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 193, 248);
}

.container {
  width: 90%;
  margin: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin: 1em;
  color: #dfdfdf;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(99, 13, 96);
  padding: 0.4em;
}

.button:hover {
  cursor: pointer;
  background-color: orchid;
}